<div id="header">
    <div id="logo-container" class="col-md-5 col-xs-5 col-lg-5">
        <a href="index" class="logo">
            <img src="/asset/ap/logo.png" />
        </a>
    </div>

    <div id="main-nav" class="col-md-7 col-xs-7 col-lg-7">
        <ul>            
            <li><a href="index">Create</a></li>
            <li><a href="upload">Deliver</a></li>
            <!--<li class="generate_batch_nav" class="navbar-toggle collapsed" data-toggle="collapse" href="#generate_batch" aria-expanded="false" aria-controls="generate_batch"><a href="#">Generate Batch</a></li>-->
            <li><a href="management">Configuration</a></li>
        </ul>
    </div>
</div>