/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {}

body {}

.template {
    display: none !important;
}

#main_container {
    width: 100%;
    font-size: 16px;
    margin-bottom: 100px;
}

#header_bg {
    width: 100%;
    height: 76px;
    -webkit-box-shadow: 0px 4px 13px 1px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 4px 13px 1px rgba(163, 163, 163, 1);
    box-shadow: 0px 4px 13px 1px rgba(163, 163, 163, 1);
}

#header {
    max-width: 1200px;
    margin: 0 auto;
    height: 76px;
    background: white;
}

#generate_batch {
    height: 70px;
    max-width: 1200px;
    padding-top: 10px;
    margin: 0 auto;
}

#generate_batch .filter-box {
    float: right;
}

#generate_batch .filter-box-submit {
    display: inline-block;
    margin-left: 20px;
}

.filter-box label {
    margin: 1em;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    min-height: 500px;
    position: relative;
}

.switch-group {
    text-align: left;
}

#management-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
}

#content > h3, .upload-container > div > h3 {
    text-align: center;
    margin: 20px auto;
}

.upload-container > div > .history-heading {
    margin-top:150px !important;
}

input[type="text"] {
    padding-left: 5px;
}


/* Start DashBoard */

#content .section-title {
    text-align: center;
}

#content .invoice-list td {
    text-align: center;
}

#content .invoice-list thead td {
    font-weight: bold;
}

#content #dashboard-menu {
    list-style: none;
    padding-right: 0;
    text-align: center;
    margin-top: 37px;
}

#left-content > table {
    text-align: center;
}

#left-content > table thead {
    background: #006AB7;
    font-weight: bold;
    color: white;
}

.tab-content table {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 95%;
}

.tab-content table thead {
    background: #006AB7;
    font-weight: bold;
    color: white;
    text-align: center;
}

.man-row {
    cursor: pointer;
}

.man-row .man-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profileModal .modal-dialog,
#relationshipModal .modal-dialog {
    min-width: 800px;
    z-index: 2000;
}

.modal-dialog input[type=checkbox] {
    vertical-align: bottom;
}

.tab-content table > tbody > tr > td {
    text-align: center;
    font-size: 0.8em;
    vertical-align: middle;
}

.tab-content .filter-group {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
}

#relationship-management-pane .filter-group {
    max-width: 900px;
    display: block;
}
#relationship-management-pane .filter-group span {
    text-align: right;
}

i.price-update-status {
    line-height: 1.35em;
    color:lawngreen;
}
i.price-update-status.grayout {
    line-height: 1.35em;
    color: gray;
    opacity: 0.1;
}

.relationship-filter-submit, .relationship-show-filter {
    float: right;
    margin-bottom: 20px;
}


span.input-group-filter-label {
    font-weight: bold;
    vertical-align: middle;
    line-height: 2em;
}

a.man-row-option {
    text-decoration: none;
    margin: 5px;
}

.billing-price-row {
    margin-top: 10px;
}

.dashboard-group {
    background: white;
    padding: 10px;
}

.invoice-list-row {
    cursor: pointer;
}

.invoice-list-row:hover {
    background:#cce6ff !important;
}

.man-row-highlighter {
    background:#FFD459 !important;
}

#content .default-button {
    background: rgba(0, 106, 183, 1);
    border-bottom: 3px solid #002c5a;
    height: 50px;
    margin-bottom: 10px;
}

#content .default-button:hover {
    background: rgb(74, 179, 255);
    border-bottom: none;
}

#content .default-button a {
    padding-top: 13px;
    text-decoration: none;
    color: white;
    display: block;
}

.div-table .div-table-row {
    font-size: 0.8em;
}

.div-table {
    display: table;
    width: 100%;
}

.div-table-row:nth-child(odd) .parent-row {
    background: whitesmoke;
}

.div-table-row,
.div-table-header {
    display: table-row;
    width: 100%;
    clear: both;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.sub-table-row,
.sub-sub-table-row {
    width: 100%;
    clear: both;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    background: #ECECEC;
}

.sub-sub-table-row {
    background: rgb(210, 210, 210);
}

.div-table-row {
    border-top: 1px solid #ddd;
    display: inline-block;
    margin: 10px 0 0;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.parent-row {
    clear: both;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.div-table-row > div:not(.no-hover):hover {
    background: #cce6ff !important;
}

.man-row:hover {
    background:#cce6ff !important;
}

/*.div-table-row > div:not(.no-hover):hover a {
    color: white !important;
}*/

.div-table-header {
    font-weight: bold;
    height: 40px;
    background: #006AB7;
    color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.div-table-header:nth-child(2) {
    background: #4EA6E6;
}

.div-table-col:last-child {
    border-right: 1px solid #ddd;
}

.div-table-row .div-table-col:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.div-table-col {
    padding: 0.5em 0;
    border-left: 1px solid #ddd;
    height: 100%;
}


/* End DashBoard */

#logo-container {
    height: 100%;
}

#logo-container .logo {
    height: 100%;
    display: block;
}

#logo-container .logo img {
    height: 100%;
    padding: 10px 0;
}

#main-nav {
    text-align: right;
    height: 100%;
}

#main-nav ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-nav ul li {
    display: inline-block;
    height: 100%;
    width: 150px;
    text-align: center;
}

#main-nav ul li:last-child {
    display: inline-block;
    height: 100%;
    width: 150px;
    text-align: center;
}

#main-nav ul li:hover {
    background: #006AB7;
}

#main-nav ul li:hover a {
    color: white;
}

#main-nav ul li a {
    padding: 25px 0;
    display: block;
    color: #072D5B;
    font-weight: bold;
    text-decoration: none;
}

.display-market-row {
    background: white;
    font-weight: bold;
}

.data-sub-row {
    font-size: 0.9em;
}

.data-sub-row td:nth-child(2):before {
    content: '-/- ';
}


/* Start Data Management */

.report-client-list {
    margin-top: 50px;
    display: none;
}

.report-client-list table tbody tr:nth-child(odd) {
    background: #ECECEC;
}

.btn-container {
    padding-top: 10%;
    text-align: center;
}

.info-box {
    min-height: 140px;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 20px;
    color: white;
    -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    background: #016AB7;
    border: 1px solid #94C0E1;
    cursor: pointer;
}

.info-box:hover {
    background: #3BABFD;
}

.info-box i {
    display: block;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.info-box .title {
    /*margin-bottom: 10px;*/
    font-size: 25px;
    font-weight: 700;
}

.info-box .desc {
    margin-top: 20px;
    font-size: 12px;
}

.tngmodal {
    width: 95%;
}

.tngmodal .modal-title {
    text-align: center;
}

.management-option i {
    font-size: 2em !important;
    color: #3175AF;
}

.modal-body > p > label {
    margin-right: 20px;
}


/* End Data Management */


/* Start Report Generator */

#overlay-container {
    background: rgba(0, 0, 0, 0.8);
    min-height: 100%;
    position: absolute;
    width: 100%;
    padding: 0;
    height: 100%;
    z-index: 2000;
    display: none;
}

#overlay-content {
    background: white;
    padding: 50px 0;
    /*min-height: 90%;*/
    width: 100%;
    max-width: 1200px;
    margin: 2% auto 0;
}

.invoice-btn-panel {
    text-align: right;
    max-width: 1170px;
    margin: 20px auto 0;
}

.invoice-btn-panel a {
    display: inline-block !important;
}

#report-filter {
    /*border: 1px solid gray;*/
    min-height: 500px;
}

#report-filter label {
    min-width: 100px;
    text-align: right;
    padding-right: 10px;
}

#generate_batch input[type=text],
#generate_batch input[type=date],
#generate_batch select {
    width: 200px;
    height: 30px;
    padding-right: 10px;
}

.filter-box {
    display: inline-block;
}

a.default-btn {
    width: 200px;
    height: 50px;
    display: block;
    text-decoration: none;
    background: rgba(0, 106, 183, 1);
    border-bottom: 3px solid #002c5a;
    color: white;
    text-align: center;
    padding-top: 15px;
}

a.default-btn:hover {
    background: rgb(74, 179, 255);
    border-bottom: none;
}

.generate-btn {
    margin-left: auto;
    margin-right: 0;
}

.manual-quantity,
.manual-rate,
.sla-quantity,
.sla-rate {
    text-align: center;
}

.manual-quantity input,
.sla-quantity input {
    text-align: center;
    width: 80px !important;
}

.manual-rate input,
.sla-rate input {
    text-align: center;
    width: 100px !important;
}

.template-container {
    padding: 15px 0;
}

.template-p {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.center-header {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

.right-header {
    text-align: right;
}

.right-header table {
    max-width: 300px;
    margin-top: 10px;
    margin-right: 0;
    text-align: center;
    margin-left: auto;
}

.right-header table thead {
    font-weight: bold;
}

.billto-table {
    max-width: 400px;
    margin: 0 15px;
}

.template-content {
    margin: 0px auto;
    /*max-width: 1170px;*/
}

.template-data-header,
.template-content tr:first-child {
    background: #006AB7;
    color: white;
    font-weight: bold;
}

.template-data-group {
    background: #072D5B;
    color: white;
    font-weight: bold;
}

.template-data-group h3 {
    margin: 5px 0;
}

.template-data-row:nth-child(odd) {
    background: #E8E8E8;
}

.mailing-row {
    text-align: center;
    font-weight: bold;
}

.mailing-row p {
    margin: 5px;
}

.mailing-row p:first-child {
    padding-top: 100px;
}

td.payment-row-first p:first-child {
    margin: 5px;
    text-indent: 0px;
    font-weight: bold;
}

td.payment-row-first p {
    text-indent: 10px;
    margin: 5px;
}

td.payment-row-second {
    text-align: center;
}

td.payment-row-second p {
    font-weight: bold;
    margin-top: 55px;
    font-size: 1.3em;
}

.payment-row-second span {
    font-weight: normal;
}

.manual-description input {
    width: 100%;
}

.add-new-adjustment {
    padding-left: 8em;
}

.add-new-adjustment:hover {
    text-decoration: none;
    font-weight: bold;
}

.add-new-adjustment:focus {
    text-decoration: none;
}


/* End Report Generator */

.loading-bg {
    position: fixed;
    z-index: 3000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*background:rgba(40,122,192,0.77);*/
    text-align: center;
    padding-top: 15%;
    display: none;
    color: white;
}

.loading-bg p {
    font-size: 1.2em;
}

div.client-detail a {
    margin: 0 10px;
}

.fa {
    font-size: 1.5em !important;
    vertical-align: bottom;
}

a.deleteInvoice {
    float: right;
}

div.highlight-class {
    background: rgba(166, 193, 255, 0.56) !important;
}

.label-alliance, .label-billing, .label-market {
    font-size: 100%;
}

.alliance-class::after {
    width: 100px;
    text-align: right;
    content: 'Alliance';
    font-weight: bold;
    color: #EBA55C;
    float: right;
    padding-right: 10px;
}

.label-alliance {
    background: #EBA55C;
}

.billing-class::after {
    width: 100px;
    text-align: right;
    content: 'BClient';
    font-weight: bold;
    color: #A1713F;
    float: right;
    padding-right: 10px;
}

.label-billing {
    background:#A1713F;
}

.market-class::after {
    width: 100px;
    text-align: right;
    content: 'Market';
    font-weight: bold;
    color: #8B4E0D;
    float: right;
    padding-right: 10px;
}

.label-market {
    background:#8B4E0D;
}

.tng-alert {
    text-align: center;
    font-weight: bold;
    max-width: 1200px;
    margin: 20px auto;
}

.tng-info {
    text-align: center;
    max-width: 1200px;
    margin: 20px auto;
    font-size: 0.8em;
    padding: 5px;
    font-weight: normal !important;
}

.modal:nth-of-type(even) {
    z-index: 1000;
}

.modal-backdrop.in:nth-of-type(even) {
    z-index: 1000;
}

#invoice-detail-modal {
    z-index: 1001;
}

.bootstrap-dialog {
    z-index: 1002;
}

.modal {
    overflow: auto !important;
}

a.invoiceRowDetail {
    float: right;
    padding-right: 1em;
}

.manual-total.row-option,
.ad-quantity {
    text-align: center;
}

.manual-total.row-option a:hover,
.manual-total.row-option a:focus {
    text-decoration: none;
}

.missing-data:after {
    content: 'Missing Profile Data';
    float: right;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.8);
}

.secured-data:after {
    content: 'Secured';
    margin-left: 20px;
    font-weight: bold;
    color: #3354B7;
}

.loadinggif {
    background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
}

.dataTables_wrapper {
    max-width: 95%;
    margin: 0 auto;
}

#client-management-pane .dataTables_wrapper {
    margin-top: 20px;
}

#client-management-pane tr .man-type > .label, #relationship-management-pane tr .man-billtype > .label{
    -webkit-transition: width .1s; /* Safari */
    transition: width .1s;
    display:block;
    width: 30px;
    margin:0 auto;
}


/* Loading Screen Start */

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}


/* Loading Screen End */