<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create New Product's Type</h4>
    </div>
    <div class="modal-body">
        <fieldset class="form-group">
            <label for="productType">Product Type</label>
            <input type="text" class="form-control" id="productType" placeholder="Enter Type">
            <!--<small class="text-muted">We'll never share your email with anyone else.</small>-->

        </fieldset>
        <fieldset class="form-group">
            <label for="productDescription">Product Description</label>
            <input type="text" class="form-control" id="productDescription" placeholder="Enter Description">
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn">Save changes</button>
    </div>
</div>